In [2]:
import pandas as pd

# Load raw data
matches = pd.read_csv("../../data-csv/matches.csv")

# Preview
display(matches.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   key_id                     1248 non-null   int64
 1   tournament_id              1248 non-null   object
 2   tournament_name            1248 non-null   object
 3   match_id                   1248 non-null   object
 4   match_name                 1248 non-null   object
 5   stage_name                 1248 non-null   object
 6   group_name                 1248 non-null   object
 7   group_stage                1248 non-null   int64
 8   knockout_stage             1248 non-null   int64
 9   replayed                   1248 non-null   int64
 10  replay                     1248 non-null   int64
 11  match_date                 1248 non-null   object
 12  match_time                 1248 non-null   object
 13  stadium_id                 1248 non-null   object
 14  stadium_name               1248 non-null   object
 15  city_name                  1248 non-null   object
 16  country_name               1248 non-null   object
 17  home_team_id               1248 non-null   object
 18  home_team_name             1248 non-null   object
 19  home_team_code             1248 non-null   object
 20  away_team_id               1248 non-null   object
 21  away_team_name             1248 non-null   object
 22  away_team_code             1248 non-null   object
 23  score                      1248 non-null   object
 24  home_team_score            1248 non-null   int64
 25  away_team_score            1248 non-null   int64
 26  home_team_score_margin     1248 non-null   int64
 27  away_team_score_margin     1248 non-null   int64
 28  extra_time                 1248 non-null   int64
 29  penalty_shootout           1248 non-null   int64
 30  score_penalties            1248 non-null   object
 31  home_team_score_penalties  1248 non-null   int64
 32  away_team_score_penalties  1248 non-null   int64
 33  result                     1248 non-null   object
 34  home_team_win              1248 non-null   int64
 35  away_team_win              1248 non-null   int64
 36  draw                       1248 non-null   int64
dtypes: int64(16), object(21)
memory usage: 360.9+ KB

None

In [3]:
# Ensure both columns are strings
matches['match_date'] = matches['match_date'].astype(str)
matches['match_time'] = matches['match_time'].astype(str)

# Combine date and time into one string
datetime_str = matches['match_date'] + ' ' + matches['match_time']

# Convert to datetime
matches['match_datetime'] = pd.to_datetime(datetime_str, format='%Y-%m-%d %H:%M', errors='coerce')

# Preview
matches[['match_date', 'match_time', 'match_datetime']].head()

   match_date match_time      match_datetime
0  1930-07-13      15:00 1930-07-13 15:00:00
1  1930-07-13      15:00 1930-07-13 15:00:00
2  1930-07-14      12:45 1930-07-14 12:45:00
3  1930-07-14      14:50 1930-07-14 14:50:00
4  1930-07-15      16:00 1930-07-15 16:00:00

In [4]:
# Sort by date
matches = matches.sort_values("match_date").reset_index(drop=True)

# Ensure numeric columns are numeric
numeric_cols = [
    "home_team_score",
    "away_team_score"
]
matches[numeric_cols] = matches[numeric_cols].apply(pd.to_numeric, errors="coerce")

In [5]:
# Count missing values
matches.isna().sum()

# Remove rows missing match_time or scores, if any
matches = matches.dropna(subset=["match_time", "home_team_score", "away_team_score"])

In [6]:
# Define the tournaments to keep
tournaments_to_keep = ['WC-2002', 'WC-2006', 'WC-2010', 'WC-2014', 'WC-2018', 'WC-2022']

# Filter the dataframe
matches = matches[matches['tournament_id'].isin(tournaments_to_keep)].reset_index(drop=True)

# Preview
matches['tournament_id'].value_counts()

tournament_id
WC-2014    64
WC-2022    64
WC-2018    64
WC-2010    64
WC-2002    64
WC-2006    64
Name: count, dtype: int64

In [7]:
# Keep only relevant columns
keep_cols = [
    "tournament_id",
    "match_id",
    "stage_name",
    "group_stage",
    "knockout_stage",
    "match_date",
    "match_time",
    "match_datetime",
    "city_name",
    "country_name",
    "home_team_id",
    "home_team_name",
    "home_team_code",
    "away_team_id",
    "away_team_name",
    "away_team_code",
    "home_team_score",
    "away_team_score",
    "home_team_score_margin",
    "away_team_score_margin",
    "extra_time",
    "penalty_shootout"
]

matches_clean = matches[keep_cols].copy()
matches_clean.to_csv("../../data-processed/matches_clean.csv", index=False)
matches_clean.head

<bound method NDFrame.head of     tournament_id   match_id      stage_name  group_stage  knockout_stage  \
0         WC-2014  M-2014-57  quarter-finals            0               1
1         WC-2022  M-2022-17     group stage            1               0
2         WC-2022  M-2022-21     group stage            1               0
3         WC-2014  M-2014-15     group stage            1               0
4         WC-2014  M-2014-46     group stage            1               0
..            ...        ...             ...          ...             ...
379       WC-2022  M-2022-40     group stage            1               0
380       WC-2022  M-2022-39     group stage            1               0
381       WC-2014  M-2014-08     group stage            1               0
382       WC-2022  M-2022-36     group stage            1               0
383       WC-2022  M-2022-47     group stage            1               0

     match_date match_time      match_datetime       city_name country_name  \
0    2014-07-04      13:00 2014-07-04 13:00:00  Rio de Janeiro       Brazil
1    2022-11-25      13:00 2022-11-25 13:00:00       Al Rayyan        Qatar
2    2022-11-26      13:00 2022-11-26 13:00:00       Al Wakrah        Qatar
3    2014-06-17      13:00 2014-06-17 13:00:00  Belo Horizonte       Brazil
4    2014-06-26      13:00 2014-06-26 13:00:00          Recife       Brazil
..          ...        ...                 ...             ...          ...
379  2022-11-30      22:00 2022-11-30 22:00:00          Lusail        Qatar
380  2022-11-30      22:00 2022-11-30 22:00:00            Doha        Qatar
381  2014-06-14      22:00 2014-06-14 22:00:00          Recife       Brazil
382  2022-11-29      22:00 2022-11-29 22:00:00       Al Rayyan        Qatar
383  2022-12-02      22:00 2022-12-02 22:00:00          Lusail        Qatar

     ... home_team_code away_team_id away_team_name away_team_code  \
0    ...            FRA         T-31        Germany            DEU
1    ...            WAL         T-38           Iran            IRN
2    ...            TUN         T-04      Australia            AUS
3    ...            BEL         T-01        Algeria            DZA
4    ...            USA         T-31        Germany            DEU
..   ...            ...          ...            ...            ...
379  ...            SAU         T-46         Mexico            MEX
380  ...            POL         T-03      Argentina            ARG
381  ...            CIV         T-44          Japan            JPN
382  ...            WAL         T-28        England            ENG
383  ...            CMR         T-09         Brazil            BRA

    home_team_score away_team_score  home_team_score_margin  \
0                 0               1                      -1
1                 0               2                      -2
2                 0               1                      -1
3                 2               1                       1
4                 0               1                      -1
..              ...             ...                     ...
379               1               2                      -1
380               0               2                      -2
381               2               1                       1
382               0               3                      -3
383               1               0                       1

     away_team_score_margin  extra_time  penalty_shootout
0                         1           0                 0
1                         2           0                 0
2                         1           0                 0
3                        -1           0                 0
4                         1           0                 0
..                      ...         ...               ...
379                       1           0                 0
380                       2           0                 0
381                      -1           0                 0
382                       3           0                 0
383                      -1           0                 0

[384 rows x 22 columns]>